:root {
  --mulberry-silk: #94766C;
  --chelsea-mauve: #BEAC9F;
  --cabbage-rose: #C59F91;
  --rose-brocade: #996C6E;
  --deepest-mauve: #6D595A;
  --toile-red: #8B534E;
  --decorous-amber: #AC7559;
  --cajun-red: #8D422F;
  --eastlake-gold: #C28E61;
  --wickerwork: #C19E80;
  --crewel-tan: #CBB99B;
  --empire-gold: #C19F6E;
  --majolica-green: #AEB08F;
  --sheraton-sage: #8F8666;
  --gallery-green: #708672;
  --billiard-green: #45584D;
  --calico: #8CA49C;
  --teal-stencil: #627F7B;
  --festoon-aqua: #A0BBB8;
  --peacock-plume: #739694;
  --queen-anne-lilac: #C0B6B4;
  --patchwork-plum: #7E696A;
  --pewter-tankard: #A39B90;
  --curio-gray: #988977;
  --rosedust: #CC8D84;
  --rachel-pink: #E8B9AE;
  --aristocrat-peach: #ECCEB9;
  --caen-stone: #ECD0B1;
  --acanthus: #CDCDB4;
  --colonial-yellow: #EFC488;
  --dutch-tile-blue: #9AABAB;
  --needlepoint-navy: #546670;
  --rembrandt-ruby: #974F49;
  --roycroft-rose: #C08F80;
  --indian-white: #EEDAC3;
  --buckram-binding: #D9C3A6;
  --morris-room-grey: #ADA193;
  --library-pewter: #7F7263;
  --portrait-tone: #C4957A;
  --roycroft-adobe: #A76251;
  --dard-hunter-green: #3A4A3F;
  --ruskin-room-green: #ACA17D;
  --peristyle-brass: #AE905E;
  --hubbard-squash: #E9BF8C;
  --antiquarian-brown: #946644;
  --white-hyacinth: #F3E5D1;
  --studio-blue-green: #6D817B;
  --bunglehouse-blue: #47626F;
  --silver-gray: #B8B2A2;
  --classic-light-buff: #F0EADC;
  --classic-ivory: #F2E0C3;
  --pearl-gray: #CBCEC5;
  --porcelain: #E9E0D5;
  --twilight-gray: #C8BFB5;
  --light-french-gray: #C2C0BB;
  --classic-sand: #D6BCAA;
  --chinese-red: #9E3E33;
  --jazz-age-coral: #F1BFB1;
  --frostwork: #CBD0C2;
  --alexandrite: #598C74;
  --salon-rose: #AB7878;
  --studio-mauve: #C6B9B8;
  --blue-sky: #ABD1C9;
  --blue-peacock: #014E4C;
  --vogue-green: #4B5645;
  --cascade-green: #ACB19F;
  --belvedere-cream: #F0CDA0;
  --copen-blue: #C2CCC4;
  --rose-tan: #CD9C85;
  --pink-shadow: #DEC3B9;
  --orchid: #BC9C9E;
  --deep-maroon: #623F45;
  --chartreuse: #E1D286;
  --radiant-lilac: #A489A0;
  --holiday-turquoise: #8AC6BD;
  --appleblossom: #DAB5B4;
  --classic-french-gray: #888782;
  --sunbeam-yellow: #F0D39D;
  --pinky-beige: #C9AA98;
  --pink-flamingo: #CD717B;
  --skyline-steel: #C6BFB3;
  --venetian-yellow: #F6E3A1;
  --icy-lemonade: #F4E8B2;
  --pineapple-cream: #F2EAC3;
  --merlot: #51323B;
  --rockweed: #443735;
  --charcoal-blue: #3D4450;
  --mineral-gray: #515763;
  --rookwood-dark-red: #4B2929;
  --rookwood-red: #622F2D;
  --rookwood-terra-cotta: #975840;
  --renwick-rose-beige: #AF8871;
  --renwick-beige: #C3B09D;
  --rookwood-brown: #7F614A;
  --rookwood-medium-brown: #6E5241;
  --rookwood-dark-brown: #5F4D43;
  --rookwood-shutter-green: #303B39;
  --rookwood-sash-green: #506A67;
  --rookwood-blue-green: #738478;
  --rookwood-jade: #979F7F;
  --downing-straw: #CAAB7D;
  --rookwood-antique-gold: #A58258;
  --renwick-olive: #97896A;
  --rookwood-dark-green: #565C4A;
  --rookwood-amber: #C08650;
  --renwick-heather: #8B7D7B;
  --downing-slate: #777F86;
  --downing-earth: #887B67;
  --downing-stone: #A6A397;
  --downing-sand: #CBBCA5;
  --rookwood-clay: #9A7E64;
  --renwick-golden-oak: #96724C;
  --colonial-revival-green-stone: #A39B7E;
  --colonial-revival-stone: #A7947C;
  --colonial-revival-tan: #D3B699;
  --classical-white: #ECE1CB;
  --classical-gold: #EBB875;
  --colonial-revival-gray: #B4B9B9;
  --roycroft-vellum: #E8D9BD;
  --birdseye-maple: #E4C495;
  --craftsman-brown: #AE9278;
  --quartersawn-oak: #85695B;
  --aurora-brown: #6A4238;
  --polished-mahogany: #432722;
  --roycroft-copper-red: #7B3728;
  --hammered-silver: #978A7F;
  --weathered-shingle: #937F68;
  --roycroft-suede: #A79473;
  --roycroft-brass: #7A6A51;
  --roycroft-mist-gray: #C2BDB1;
  --bunglehouse-gray: #988F7B;
  --roycroft-bronze-green: #575449;
  --roycroft-bottle-green: #324038;
  --roycroft-pewter: #616564;
  --westchester-gray: #797978;
  --chelsea-gray: #B6B7B0;
  --sage-green-light: #73705E;
  --new-colonial-yellow: #D9AD7F;
  --caribbean-coral: #BE795E;
  --sycamore-tan: #9C8A79;
  --fairfax-brown: #61463A;
  --peace-yellow: #EECF9E;
  --harvest-gold: #D9A06A;
  --beige: #DFC8B5;
  --sage: #B3AE95;
  --avocado: #857C5D;
  --powder-blue: #89A4AD;
  --classical-yellow: #F8D492;
  --snowfall: #E0DEDA;
  --grayish: #CFCAC7;
  --essential-gray: #BCB8B6;
  --proper-gray: #ADA8A5;
  --mink: #847B77;
  --folkstone: #6D6562;
  --black-bean: #403330;
  --smart-white: #E4DBD8;
  --individual-white: #D4CDCA;
  --imagine: #C2B6B6;
  --flexible-gray: #B1A3A1;
  --chinchilla: #867875;
  --browse-brown: #6E615F;
  --bitter-chocolate: #4D3C3C;
  --vaguely-mauve: #D1C5C4;
  --chaise-mauve: #C1B2B3;
  --intuitive: #B3A3A5;
  --enigma: #8B7C7E;
  --poetry-plum: #6F5C5F;
  --marooned: #4E3132;
  --dreamy-white: #E3D9D5;
  --breathless: #D6C2BE;
  --insightful-rose: #C9B0AB;
  --dressy-rose: #B89D9A;
  --socialite: #907676;
  --river-rouge: #76595D;
  --cordovan: #5F3D3F;
  --cultured-pearl: #E5DCD6;
  --white-truffle: #D7C8C2;
  --artistic-taupe: #C3B1AC;
  --glamour: #B6A09A;
  --dutch-cocoa: #8C706A;
  --bateau-brown: #7A5F5A;
  --arresting-auburn: #5A3532;
  --gauzy-white: #E3DBD4;
  --angora: #D1C5BE;
  --temperate-taupe: #BFB1AA;
  --truly-taupe: #AC9E97;
  --poised-taupe: #8C7E78;
  --less-brown: #756761;
  --otter: #56433B;
  --hush-white: #E5DAD4;
  --unfussy-beige: #D6C8C0;
  --doeskin: #C6B3A9;
  --emerging-taupe: #B8A196;
  --swing-brown: #947569;
  --hot-cocoa: #806257;
  --terra-brun: #5A382D;
  --gorgeous-white: #E7DBD3;
  --abalone-shell: #DBC7BD;
  --sashay-sand: #CFB4A8;
  --sandbank: #C3A497;
  --reddened-earth: #9C6E63;
  --canyon-clay: #85594F;
  --fiery-brown: #5D3831;
  --polite-white: #E9DDD4;
  --malted-milk: #DECABD;
  --likeable-sand: #D1B7A8;
  --interface-tan: #C1A392;
  --moroccan-brown: #9D7868;
  --tanbark: #896656;
  --rugged-brown: #694336;
  --nice-white: #E6DDD5;
  --reticence: #D9CDC3;
  --bona-fide-beige: #CBB9AB;
  --sand-trap: #BBA595;
  --mocha: #967A6A;
  --brevity-brown: #715243;
  --french-roast: #4F3426;
  --heron-plume: #E5E1D8;
  --popular-gray: #D4CCC3;
  --versatile-gray: #C1B6AB;
  --perfect-greige: #B7AB9F;
  --spalding-gray: #8D7F75;
  --garret-gray: #756861;
  --turkish-coffee: #4D3930;
  --everyday-white: #E4DCD4;
  --realist-beige: #D3C8BD;
  --diverse-beige: #C2B4A7;
  --utterly-beige: #B5A597;
  --down-home: #907865;
  --cobble-brown: #7A6455;
  --sable: #5F4B3F;
  --modest-white: #E6DDD4;
  --simplify-beige: #D6C7B9;
  --sand-dune: #C5B1A2;
  --trusty-tan: #B59F8F;
  --nuthatch: #8E725F;
  --grounded: #785B47;
  --java: #634533;
  --reliable-white: #E8DED3;
  --lightweight-beige: #DAC8B8;
  --familiar-beige: #CAB3A0;
  --sensational-sand: #BFA38D;
  --toasty: #957258;
  --jute-brown: #815D40;
  --sturdy-brown: #69482C;
  --pacer-white: #E5DDD0;
  --sand-dollar: #D7C5B3;
  --practical-beige: #C9B29C;
  --sands-of-time: #BCA38B;
  --portabello: #947A62;
  --tea-chest: #7D644D;
  --kaffee: #65503D;
  --divine-white: #E6DCCD;
  --kilim-beige: #D7C5AE;
  --nomadic-desert: #C7B198;
  --latte: #BAA185;
  --hopsack: #9E8163;
  --steady-brown: #8A6B4D;
  --coconut-husk: #70573F;
  --biscuit: #EBDDCB;
  --interactive-cream: #E4CAAD;
  --bagel: #D7B593;
  --totally-tan: #CCA683;
  --tatami-tan: #BA8C64;
  --smokey-topaz: #A57955;
  --leather-bound: #8D623D;
  --antique-white: #E8DCC6;
  --believable-buff: #DBC7A8;
  --whole-wheat: #CDB592;
  --camelback: #C5AA85;
  --baguette: #B39167;
  --cardboard: #9C7A56;
  --craft-paper: #8A6645;
  --navajo-white: #E9DCC6;
  --ivoire: #E4CEAC;
  --blonde: #DCBD92;
  --restrained-gold: #D2B084;
  --mannered-gold: #C19763;
  --chamois: #AD8451;
  --relic-bronze: #906A3A;
  --muslin: #EADFC9;
  --netsuke: #E0CFB0;
  --ecru: #D0BA94;
  --harmonic-tan: #C6B08A;
  --burlap: #AC9571;
  --artifact: #9A815E;
  --mossy-gold: #7F6743;
  --moderate-white: #E9DECF;
  --softer-tan: #DACAB2;
  --macadamia: #CCB79B;
  --basket-beige: #C0A98B;
  --dapper-tan: #947F65;
  --thatch-brown: #867057;
  --umber: #6E543C;
  --panda-white: #EAE2D4;
  --wool-skein: #D9CFBA;
  --relaxed-khaki: #C8BBA3;
  --universal-khaki: #B8A992;
  --quiver-tan: #8E7F6A;
  --superior-bronze: #786957;
  --protege-bronze: #66543E;
  --nacre: #E8E2D4;
  --rice-grain: #DBD0B9;
  --ramie: #CDBDA2;
  --favorite-tan: #C1AE91;
  --sawdust: #998970;
  --high-tea: #7E6F59;
  --best-bronze: #5D513E;
  --nonchalant-white: #DEDDD1;
  --ancient-marble: #D1CCB9;
  --grassland: #C1BCA7;
  --svelte-sage: #B2AC96;
  --connected-gray: #898473;
  --eclipse: #6B6757;
  --garden-gate: #5E5949;
  --moderne-white: #E2E0D7;
  --sedate-gray: #D1CDBF;
  --techno-gray: #BFB9AA;
  --chatroom: #B0AB9C;
  --hardware: #8B8372;
  --cocoon: #726B5B;
  --andiron: #424036;
  --sagey: #E2E2D1;
  --liveable-green: #CECEBD;
  --softened-green: #BBBCA7;
  --clary-sage: #ACAD97;
  --artichoke: #7F8266;
  --oakmoss: #65684C;
  --secret-garden: #4F523A;
  --ethereal-white: #E3E2D9;
  --conservative-gray: #D1D0C6;
  --austere-gray: #BEBFB2;
  --escape-gray: #ABAC9F;
  --dried-thyme: #7B8070;
  --rosemary: #64695C;
  --shadegrown: #4E5147;
  --opaline: #DCDFD7;
  --filmy-green: #D1D3C7;
  --contented: #BDC0B3;
  --coastal-plain: #9FA694;
  --privilege-green: #7A8775;
  --basil: #626E60;
  --rock-garden: #465448;
  --frosty-white: #DDDDD6;
  --aloof-gray: #C9C9C0;
  --sensible-hue: #B6B5AB;
  --rare-gray: #A6A69B;
  --link-gray: #7F7E72;
  --thunderous: #6D6C62;
  --cast-iron: #64645A;
  --spare-white: #E4E4DD;
  --sea-salt: #CDD2CA;
  --comfort-gray: #BEC3BB;
  --oyster-bay: #AEB3A9;
  --retreat: #7A8076;
  --pewter-green: #5E6259;
  --ripe-olive: #44483D;
  --window-pane: #D7DFD8;
  --rainwashed: #C2CDC5;
  --quietude: #ADBBB2;
  --halcyon-green: #9BAAA2;
  --underseas: #7C8E87;
  --rocky-river: #5E706A;
  --jasper: #343B36;
  --topsail: #DAE2E0;
  --tradewind: #C2CFCF;
  --rain: #ABBEBF;
  --interesting-aqua: #9BAFB2;
  --moody-blue: #7A9192;
  --riverway: #5D7274;
  --still-water: #4A5D5F;
  --mountain-air: #D8E0DF;
  --sleepy-blue: #BCCBCE;
  --languid-blue: #A4B7BD;
  --meditative: #96AAB0;
  --refuge: #607D84;
  --tempe-star: #47626A;
  --rainstorm: #244653;
  --rock-candy: #DEE1DF;
  --misty: #CDD2D2;
  --samovar-silver: #B8BEBE;
  --uncertain-gray: #A9B0B1;
  --foggy-day: #727C7F;
  --grays-harbor: #596368;
  --dark-night: #23383F;
  --icicle: #DBDFE0;
  --upward: #BFC9D0;
  --windy-blue: #AABAC6;
  --aleutian: #98A9B7;
  --bracing-blue: #768B9A;
  --distance: #5D6F7F;
  --naval: #2F3D4C;
  --quicksilver: #DDE2E0;
  --north-star: #CAD0D2;
  --krypton: #B8C0C3;
  --jubilee: #ADB5B9;
  --storm-cloud: #7A848D;
  --granite-peak: #606B75;
  --outerspace: #586168;
  --ice-cube: #E3E4E1;
  --olympus-white: #D4D8D7;
  --lazy-gray: #BEC1C3;
  --morning-fog: #A8AEB1;
  --serious-gray: #7D848B;
  --gibraltar: #626970;
  --tricorn-black: #2F2F30;
  --spatial-white: #DDDCDB;
  --unique-gray: #CBC9C9;
  --swanky-gray: #B5B1B5;
  --mysterious-mauve: #A6A3A9;
  --exclusive-plum: #736F78;
  --midnight: #5D5962;
  --quixotic-plum: #4A4653;
  --sensitive-tint: #CEC9CC;
  --veiled-violet: #BDB5B9;
  --beguiling-mauve: #AFA7AC;
  --soulmate: #85777B;
  --expressive-plum: #695C62;
  --plum-brown: #4E4247;
  --destiny: #CFC9C8;
  --fashionable-gray: #BDB8B8;
  --mystical-shade: #AEA9AA;
  --special-gray: #7B787D;
  --cloak-gray: #605E63;
  --black-swan: #3A373E;
  --wallflower: #DBCFD4;
  --mauve-finery: #CBB8C0;
  --thistle: #AA8E9A;
  --plum-dandy: #8B6878;
  --grape-harvest: #7E5A6D;
  --mature-grape: #5F3F54;
  --rosebud: #E0CDD1;
  --delightful: #D2B6BE;
  --rose: #B995A1;
  --moss-rose: #9E6D79;
  --berry-bush: #8D5869;
  --fabulous-grape: #6D344F;
  --demure: #E8D4D5;
  --fading-rose: #DABDC1;
  --rose-embroidery: #C79EA2;
  --concerto: #9E6B75;
  --aged-wine: #895460;
  --burgundy: #63333E;
  --innocence: #EBD1CF;
  --rose-colored: #DCB6B5;
  --pressed-flower: #C39393;
  --rambling-rose: #995D62;
  --cordial: #864C52;
  --fine-wine: #723941;
  --charming-pink: #EDD3D2;
  --lotus-flower: #E6BDBD;
  --memorable-rose: #CF8A8D;
  --redbud: #AD5E65;
  --kirsch-red: #974953;
  --luxurious-red: #863A42;
  --rosy-outlook: #EBCECB;
  --gracious-rose: #E3B7B1;
  --resounding-rose: #CD8E89;
  --reddish: #B56966;
  --bravado-red: #A0524E;
  --red-bay: #8E3738;
  --intimate-white: #F0E1D8;
  --romance: #EBCFC3;
  --mellow-coral: #E3B5A8;
  --constant-coral: #CD8E7F;
  --henna-shade: #B3675D;
  --bold-brick: #A0584F;
  --fireweed: #7B3730;
  --faint-coral: #EEDED5;
  --quaint-peche: #EACDC1;
  --smoky-salmon: #E2B6A7;
  --coral-island: #CE9382;
  --foxy: #A85E53;
  --flower-pot: #8F4438;
  --fired-brick: #83382A;
  --nearly-peach: #EFDED1;
  --spun-sugar: #EDD2C0;
  --warming-peach: #E4B9A2;
  --persimmon: #D9987C;
  --baked-clay: #C1785C;
  --red-cent: #AD654C;
  --spicy-hue: #994B35;
  --alluring-white: #EFE1D2;
  --peach-fuzz: #ECCFBB;
  --sumptuous-peach: #E5B99B;
  --fame-orange: #DB9C7B;
  --chrysanthemum: #C47B5B;
  --reynard: #B46848;
  --pennywise: #A2583A;
  --intricate-ivory: #EDDDCA;
  --sweet-orange: #EBCCB3;
  --soft-apricot: #E0B392;
  --chivalry-copper: #D4966E;
  --armagnac: #C38058;
  --truepenny: #B46C42;
  --copper-mountain: #A6613C;
  --choice-cream: #F0E1D0;
  --creamery: #EDD0B6;
  --sociable: #E8BE9B;
  --folksy-gold: #D69969;
  --autumnal: #CD8C5D;
  --tigereye: #BB7748;
  --gingery: #B06C3E;
  --eggwhite: #F3E5D2;
  --cachet-cream: #F3D9BA;
  --ambitious-amber: #F0CB97;
  --viva-gold: #E3AC72;
  --bakelite-gold: #D7995D;
  --tassel: #C6884A;
  --saucy-gold: #B6743B;
  --vanillin: #F2E3CA;
  --inviting-ivory: #F2D5B0;
  --harvester: #EDC38E;
  --torchlight: #E5AE6B;
  --honeycomb: #D59858;
  --gold-coast: #C78538;
  --butterscotch: #B67D3C;
  --crisp-linen: #F3E6D4;
  --jersey-cream: #F5DEBB;
  --humble-gold: #EDC796;
  --anjou-pear: #DDAC6D;
  --ceremonial-gold: #D69E59;
  --golden-rule: #CC9249;
  --cut-the-mustard: #BA7F38;
  --dover-white: #F0EADC;
  --napery: #EFDDC1;
  --compatible-cream: #E8C89E;
  --golden-fleece: #D6AD78;
  --butternut: #CC9B5C;
  --bosc-pear: #C09056;
  --gallant-gold: #A4763C;
  --vital-yellow: #EDE0C5;
  --convivial-yellow: #E9D6B0;
  --sequin: #E1C28D;
  --alchemy: #C99E53;
  --different-gold: #BC934D;
  --nankeen: #AA803A;
  --sconce-gold: #996F32;
  --chamomile: #E9E0C5;
  --lucent-yellow: #E4D0A5;
  --independent-gold: #D2BA83;
  --antiquity: #C2A462;
  --escapade-gold: #B89B59;
  --grandiose: #9C7F41;
  --fervent-brass: #95793D;
  --ionic-ivory: #E7DFC5;
  --ancestral-gold: #DDCDA6;
  --wheat-grass: #CBB584;
  --edgy-gold: #B1975F;
  --brassy: #9D8344;
  --bengal-grass: #8E773F;
  --eminent-bronze: #7A6841;
  --restoration-ivory: #E9E1CA;
  --rice-paddy: #DFD4B0;
  --hearts-of-palm: #CFC291;
  --sassy-green: #BBA86A;
  --tupelo-tree: #9C9152;
  --rural-green: #8D844D;
  --saguaro: #655F2D;
  --queen-annes-lace: #ECEAD5;
  --celery: #E0DDBD;
  --shagreen: #CBC99D;
  --ryegrass: #AEAC7A;
  --tansy-green: #95945C;
  --relentless-olive: #71713E;
  --basque-green: #5F6033;
  --sprout: #E4E4CE;
  --honeydew: #DBDDBD;
  --baize-green: #C7CDA8;
  --great-green: #ABB486;
  --leapfrog: #88915D;
  --garden-spot: #6D7645;
  --inverness: #576238;
  --spinach-white: #E4E8DA;
  --gratifying-green: #DAE2CD;
  --bonsai-tint: #C5D1B2;
  --haven: #A3B48C;
  --dill: #788D60;
  --greenfield: #60724F;
  --courtyard: #475842;
  --white-mint: #E0E7DA;
  --supreme-green: #CFDDC7;
  --relish: #B3CBAA;
  --lounge-green: #8BA97F;
  --garden-grove: #5E7F57;
  --arugula: #42603C;
  --evergreens: #405840;
  --topiary-tint: #C8D8C4;
  --easy-green: #ACC2A8;
  --nurture-green: #98B092;
  --inland: #6C8867;
  --cilantro: #537150;
  --shamrock: #205134;
  --fleeting-green: #D8E2D8;
  --slow-green: #C6D5C9;
  --kind-green: #AAC2B3;
  --restful: #91AF9D;
  --jadite: #61826C;
  --kale-green: #4F6A56;
  --isle-of-pines: #3D5541;
  --green-trance: #D7E4DB;
  --breaktime: #C4D9CE;
  --aloe: #ACCABC;
  --spearmint: #94B5A6;
  --grandview: #6B927F;
  --kendal-green: #547867;
  --hunt-club: #2A4F43;
  --waterscape: #BFD2C9;
  --hazel: #A8C1B7;
  --composed: #7EA298;
  --surf-green: #5F887D;
  --raging-sea: #476F65;
  --country-squire: #124A42;
  --glimmer: #E0E7E2;
  --tidewater: #C3D7D3;
  --watery: #B4CCC9;
  --drizzle: #8CAEAB;
  --lagoon: #518682;
  --green-bay: #2E6864;
  --cape-verde: #01554F;
  --meander-blue: #BEDBD8;
  --raindrop: #9EC6C6;
  --reflecting-pool: #7BB1B2;
  --cloudburst: #5C9598;
  --grand-canal: #3C797D;
  --really-teal: #016367;
  --open-air: #C7DFE0;
  --jetstream: #B0D2D6;
  --ebbtide: #84B4BE;
  --lakeshore: #5B96A2;
  --great-falls: #217786;
  --oceanside: #015A6B;
  --blue-horizon: #D8E7E6;
  --byte-blue: #C5DCE0;
  --stream: #ADCCD3;
  --open-seas: #83AFBC;
  --manitou-blue: #5B92A2;
  --loch-blue: #2F778B;
  --bosporus: #015D75;
  --sky-high: #DCE7E8;
  --atmospheric: #C2DAE0;
  --vast-sky: #A9C9D7;
  --resolute-blue: #85B0C4;
  --secure-blue: #5389A1;
  --georgian-bay: #22657F;
  --loyal-blue: #01455E;
  --snowdrop: #E0E8E7;
  --balmy: #C5D8DE;
  --take-five: #B3C9D3;
  --respite: #97B4C3;
  --leisure-blue: #6A8EA1;
  --down-pour: #43718B;
  --regatta: #215772;
  --hinting-blue: #CED9DD;
  --honest-blue: #B2C7D3;
  --notable-hue: #8BA7BB;
  --sporty-blue: #6A8AA4;
  --denim: #506B84;
  --commodore: #25476A;
  --rarified-air: #E1E6E6;
  --icelandic: #CBD8E1;
  --blissful-blue: #B2C8D8;
  --cosmos: #8EA9C2;
  --scanda: #6B8CA9;
  --revel-blue: #4C6B8A;
  --indigo: #284A70;
  --mild-blue: #CBD5DB;
  --icy: #BBC7D2;
  --solitude: #99A7B8;
  --searching-blue: #6C7F9A;
  --luxe-blue: #516582;
  --dignified: #3B496D;
  --starry-night: #D6D9DE;
  --daydream: #BDC3CD;
  --vesper-violet: #99A0B2;
  --soulful-blue: #757C91;
  --mesmerize: #5D657B;
  --majestic-purple: #3B3C5A;
  --silver-peony: #DAD6DB;
  --grape-mist: #C5C0C9;
  --ash-violet: #A29BAA;
  --mythical: #7E778E;
  --purple-passage: #645E77;
  --dewberry: #3E385A;
  --lite-lavender: #E0DADF;
  --enchant: #D1C6D2;
  --obi-lilac: #B0A3B6;
  --wood-violet: #7A6B85;
  --plummy: #675A75;
  --concord-grape: #443757;
  --teaberry: #EBD1DB;
  --irresistible: #E3C0CF;
  --rosebay: #CB9AAD;
  --red-clover: #B87E93;
  --grandeur-plum: #92576F;
  --framboise: #7C3655;
  --lighthearted-pink: #EDD5DD;
  --childlike: #E8C0CF;
  --haute-pink: #D899B1;
  --cyclamen: #C47B95;
  --ruby-shade: #A2566F;
  --juneberry: #854158;
  --priscilla: #F1D3DA;
  --azalea-flower: #EFC0CB;
  --jaipur-pink: #E392A1;
  --tuberose: #D47C8C;
  --gala-pink: #B04B63;
  --cerise: #99324E;
  --impatiens-petal: #F1D2D7;
  --in-the-pink: #F0BCC9;
  --cheery: #EB92A3;
  --coming-up-roses: #DD7788;
  --heartfelt: #BD4C5F;
  --valentine: #A53A4E;
  --alyssum: #F2D5D7;
  --loveable: #F0C1C6;
  --amaryllis: #ED939D;
  --grenadine: #D66972;
  --coral-bells: #BB4B51;
  --poinsettia: #9D373C;
  --bella-pink: #F1C6C4;
  --hopeful: #F0B3B2;
  --dishy-coral: #ED9190;
  --begonia: #D76C6E;
  --enticing-red: #B74E4F;
  --tanager: #A43834;
  --oleander: #F2CCC5;
  --youthful-coral: #F0AFA8;
  --charisma: #EE9489;
  --coral-reef: #D9766C;
  --red-tomato: #B24743;
  --rave-red: #A13B34;
  --koral-kicks: #F2D1C3;
  --jovial: #F2B8A7;
  --ravishing-coral: #E79580;
  --lei-flower: #D87B6A;
  --quite-coral: #C76356;
  --peppery: #B85444;
  --blushing: #F0D1C3;
  --cosmetic-peach: #F3C1AB;
  --sockeye: #E49780;
  --rejuvenate: #DD7861;
  --emotional: #C65F47;
  --hearty-orange: #B44B34;
  --peach-blossom: #F3D0BD;
  --certain-peach: #F2BDA2;
  --sunset: #E2946F;
  --emberglow: #D67C56;
  --robust-orange: #C4633E;
  --jalapeno: #B1533C;
  --naive-peach: #F3D3BF;
  --neighborly-peach: #F3C1A3;
  --inventive-orange: #E89D6F;
  --copper-harbor: #D57E52;
  --determined-orange: #C56639;
  --husky-orange: #BB613E;
  --flattering-peach: #F4D3B3;
  --avid-apricot: #F4C69F;
  --tangerine: #F2AC78;
  --outgoing-orange: #E6955F;
  --rhumba-orange: #CB7841;
  --yam: #C36F3E;
  --champagne: #F2E3CE;
  --flan: #F4D4AF;
  --delicious-melon: #F5C894;
  --surprise-amber: #EFB57A;
  --adventure-orange: #E69F5F;
  --serape: #D88B4D;
  --amber-wave: #D28240;
  --welcome-white: #F3E3CA;
  --captivating-cream: #F4D9B1;
  --honey-blush: #F5CF9B;
  --papaya: #EFB97B;
  --summer-day: #EAAA62;
  --saffron-thread: #DF984E;
  --marigold: #D28233;
  --gardenia: #F3E2C9;
  --enjoyable-yellow: #F5D6A9;
  --afterglow: #F6CD8E;
  --sunrise: #F4BF77;
  --yarrow: #EBAD5E;
  --gold-crest: #DF9938;
  --curry: #D88F32;
  --morning-sun: #F3E6CE;
  --banana-cream: #F5DEAF;
  --jonquil: #F7D391;
  --afternoon: #FBCB78;
  --butterfield: #F7BE5B;
  --goldenrod: #F2AF46;
  --sunflower: #E39A33;
  --full-moon: #F4E3BC;
  --friendly-yellow: #F5E0B1;
  --butter-up: #F6DDA3;
  --june-day: #F6C973;
  --bee: #F1BA55;
  --brittlebush: #EAAE47;
  --trinket: #D69835;
  --lemon-chiffon: #F5E5BC;
  --lantern-light: #F4E1AE;
  --solaria: #F5D68F;
  --overjoy: #EEC25F;
  --gambol-gold: #E1B047;
  --glitzy-gold: #D6A02B;
  --auric: #C48919;
  --lily: #F3E8C2;
  --glad-yellow: #F5E1AC;
  --midday: #F7D78A;
  --quilt-gold: #EAC365;
  --nugget: #DBB04A;
  --kingdom-gold: #D1A436;
  --crispy-gold: #C49832;
  --daybreak: #F3EAC6;
  --moonraker: #EEE3B2;
  --lively-yellow: #E6D88E;
  --frolic: #D9C661;
  --hep-green: #C4B146;
  --high-strung: #AC9825;
  --offbeat-green: #9C8B1F;
  --springtime: #E9E5B3;
  --gleeful: #DAD790;
  --melange-green: #C4C476;
  --parakeet: #B4B05A;
  --luau-green: #989746;
  --verdant: #847E35;
  --lime-granita: #DCE1B8;
  --dancing-green: #C5CD8F;
  --lime-rickey: #AFB96A;
  --overt-green: #97A554;
  --gecko: #7A8833;
  --paradise: #6C7B30;
  --cucumber: #D3DFC3;
  --jardin: #BDD0AB;
  --mesclun-green: #9DB682;
  --pickle: #85A16A;
  --talipot-palm: #648149;
  --houseplant: #58713F;
  --lacewing: #D7E3CA;
  --romaine: #C0D2AD;
  --picnic: #99C285;
  --organic-green: #7FAC6E;
  --grasshopper: #4F854A;
  --espalier: #2F5F3A;
  --jocular-green: #CCE2CA;
  --kiwi: #AED2B0;
  --vegan: #8EC298;
  --eco-green: #68A678;
  --kilkenny: #498555;
  --derbyshire: #245E36;
  --mint-condition: #D1E3D2;
  --reclining-green: #B7D7BF;
  --lark-green: #8AC1A1;
  --julep: #57AA80;
  --argyle: #348A5D;
  --greens: #016844;
  --embellished-blue: #D7EBE2;
  --waterfall: #C0E3DA;
  --refresh: #A1D4C8;
  --larchmere: #70BAA7;
  --jargon-jade: #53A38F;
  --ionian: #368976;
  --starboard: #016C4F;
  --tame-teal: #C1E6DF;
  --aqueduct: #A1D5CB;
  --cooled-blue: #75B9AE;
  --rivulet: #61A89D;
  --thermal-spring: #3B8C80;
  --poseidon: #016D60;
  --swimming: #C2E5E5;
  --spa: #A7DCDC;
  --mariner: #6EC2C4;
  --aquarium: #3AA9AE;
  --gulfstream: #01858B;
  --maxi-teal: #017478;
  --bathe-blue: #C2E0E3;
  --cay: #A6D0D6;
  --rapture-blue: #7DC1CB;
  --freshwater: #4DA6B2;
  --briny: #08808E;
  --blue-nile: #01717E;
  --aviary-blue: #C6E3E8;
  --liquid-blue: #A6D4DE;
  --nautilus: #71B8C7;
  --jamaica-bay: #34A3B6;
  --cruising: #018498;
  --amalfi: #016E85;
  --bravo-blue: #D3E7E9;
  --quench-blue: #B4E0E7;
  --cloudless: #8FD0DD;
  --fountain: #56B5CA;
  --capri: #01A0B8;
  --blue-mosque: #01819E;
  --adriatic-sea: #016081;
  --minor-blue: #B7DFE8;
  --bluebell: #A2D5E7;
  --flyway: #5DB3D4;
  --major-blue: #289EC4;
  --blue-plate: #017CA7;
  --jay-blue: #015D87;
  --iceberg: #D6E4E7;
  --soar: #C3DFE8;
  --something-blue: #B0D6E6;
  --regale-blue: #7DB5D3;
  --jacaranda: #5A9EC0;
  --danube: #2377A2;
  --dignity-blue: #094C73;
  --rhythmic-blue: #CCDBE5;
  --wondrous-blue: #B8CDDD;
  --celestial: #97B3D0;
  --lobelia: #7498BE;
  --lupine: #4E739F;
  --honorable-blue: #164576;
  --wishful-blue: #D8DDE6;
  --breathtaking: #C7D1E2;
  --awesome-violet: #A7B2D4;
  --dahlia: #8B98C4;
  --gentian: #6572A5;
  --valiant-violet: #3E4371;
  --inspired-lilac: #DFD9E4;
  --potentially-purple: #D1CBDF;
  --wisteria: #BDB4D4;
  --brave-purple: #968DB8;
  --forgetmenot: #716998;
  --izmir-purple: #4D426E;
  --elation: #DFDCE5;
  --rhapsody-lilac: #D2C8DD;
  --magical: #C0AFD0;
  --kismet: #A18AB7;
  --clematis: #7E6596;
  --impulsive-purple: #624977;
  --spangle: #E5DBE5;
  --euphoric-lilac: #DAC7DA;
  --novel-lilac: #C2A4C2;
  --baroness: #A785A7;
  --vigorous-violet: #7C5A7E;
  --kimono-violet: #5D395F;
  --exuberant-pink: #B54D7F;
  --dynamo: #953D68;
  --forward-fuchsia: #92345B;
  --hot: #AC4362;
  --dragon-fruit: #CC617F;
  --eros-pink: #C84F68;
  --radish: #A42E41;
  --cherries-jubilee: #AB3C51;
  --heartthrob: #A82E33;
  --real-red: #BF2D32;
  --stop: #C33A36;
  --positive-red: #AD2C34;
  --comical-coral: #F3D1C8;
  --cayenne: #C04D35;
  --raucous-orange: #C35530;
  --obstinate-orange: #D7552A;
  --knockout-orange: #E16F3E;
  --invigorate: #E47237;
  --navel: #EC8430;
  --osage-orange: #F4A045;
  --carnival: #EB882C;
  --sole: #F7DDA1;
  --optimistic-yellow: #F5E1A6;
  --daffodil: #FAD97A;
  --decisive-yellow: #FDCC4E;
  --cheerful: #FFC723;
  --gusto-gold: #F8AC1D;
  --goldfinch: #FDB702;
  --forsythia: #FFC801;
  --fun-yellow: #F7E594;
  --lemon-twist: #FED95D;
  --daisy: #FED340;
  --confident-yellow: #FECB01;
  --funky-yellow: #EDD26F;
  --eye-catching: #DDB835;
  --citronella: #CBA901;
  --humorous-green: #C6B836;
  --center-stage: #B2C216;
  --electric-lime: #9ABA25;
  --direct-green: #3F8A24;
  --envy: #358C3F;
  --lucky-green: #238652;
  --greenbelt: #017244;
  --green-vibes: #D4E7C3;
  --tantalizing-teal: #87DCCE;
  --nifty-turquoise: #019187;
  --splashy: #019196;
  --intense-teal: #017680;
  --calypso: #01B0BB;
  --undercool: #7FC3E1;
  --dynamic-blue: #0192C6;
  --blue-chip: #016EA7;
  --hyper-blue: #015F97;
  --blueblood: #015086;
  --frank-blue: #225288;
  --hyacinth-tint: #C2CBE0;
  --morning-glory: #3C4C80;
  --free-spirit: #CAB2D2;
  --passionate-purple: #795484;
  --african-violet: #665385;
  --fully-purple: #514C7E;
  --jitterbug-jade: #019D6E;
  --bohemian-black: #3B373C;
  --domino: #353337;
  --caviar: #313031;
  --black-magic: #323132;
  --inkwell: #31363A;
  --black-of-night: #323639;
  --greenblack: #373A3A;
  --ibis-white: #F2ECE6;
  --marshmallow: #EEE9E0;
  --downy: #EFE8DD;
  --toque-white: #E7E2DA;
  --snowbound: #EDEAE5;
  --pure-white: #EDECE6;
  --extra-white: #EEEFEA;
  --ceiling-bright-white: #E9EBE7;
  --alabaster: #EDEAE0;
  --pearly-white: #E8E3D9;
  --white-duck: #E5DFD2;
  --natural-choice: #E3DED0;
  --creamy: #EFE8DB;
  --ivory-lace: #ECE5D8;
  --eider-white: #E2DED8;
  --repose-gray: #CCC9C0;
  --mindful-gray: #BCB7AD;
  --dorian-gray: #ACA79E;
  --dovetail: #908A83;
  --gauntlet-gray: #78736E;
  --black-fox: #4F4842;
  --simple-white: #DFD9D2;
  --alpaca: #CCC5BD;
  --requisite-gray: #B9B2A9;
  --functional-gray: #ABA39A;
  --backdrop: #867A6F;
  --griffin: #6F6459;
  --wellbred-brown: #564537;
  --incredible-white: #E3DED7;
  --agreeable-gray: #D1CBC1;
  --anew-gray: #BFB6AA;
  --mega-greige: #ADA295;
  --warm-stone: #887B6C;
  --brainstorm-bronze: #74685A;
  --status-bronze: #5C4D3C;
  --aesthetic-white: #E3DDD3;
  --accessible-beige: #D1C7B8;
  --balanced-beige: #C0B2A2;
  --tony-taupe: #B1A290;
  --virtual-taupe: #8A7A6A;
  --smokehouse: #716354;
  --van-dyke-brown: #564536;
  --shoji-white: #E6DFD3;
  --worldly-gray: #CEC6BB;
  --amazing-gray: #BEB5A9;
  --intellectual-gray: #A8A093;
  --anonymous: #817A6E;
  --porpoise: #6B645B;
  --urbane-bronze: #54504A;
  --nuance: #E2E0D6;
  --useful-gray: #CFCABD;
  --analytical-gray: #BFB6A7;
  --gray-area: #AFA696;
  --adaptive-shade: #867E70;
  --suitable-brown: #645A4B;
  --enduring-bronze: #554C3E;
  --reserved-white: #E0E0D9;
  --silver-strand: #C8CBC4;
  --magnetic-gray: #B2B5AF;
  --unusual-gray: #A3A7A0;
  --attitude-gray: #7C7D75;
  --night-owl: #63655F;
  --rock-bottom: #484C49;
  --nebulous-white: #DEDFDC;
  --passive: #CBCCC9;
  --argos: #BDBDB7;
  --gray-matters: #A7A8A2;
  --cityscape: #7F817E;
  --grizzle-gray: #636562;
  --iron-ore: #434341;
  --site-white: #DCDEDC;
  --gray-screen: #C6CACA;
  --online: #B0B5B5;
  --network-gray: #A0A5A7;
  --software: #7F8486;
  --web-gray: #616669;
  --cyberspace: #44484D;
  --original-white: #E2DEDB;
  --minute-mauve: #CFC9C8;
  --ponder: #BCB6B6;
  --quest-gray: #ADA5A5;
  --sensuous-gray: #837D7F;
  --stunning-shade: #676064;
  --darkroom: #443E40;
  --arcade-white: #F3EEE7;
  --futon: #EDE6DB;
  --white-flour: #F4EFE5;
  --whitetail: #F4EFE4;
  --cotton-white: #F7EFE3;
  --paperwhite: #F7EFDE;
  --honied-white: #F8EEDB;
  --threshold-taupe: #AC9A8A;
  --dry-dock: #A18D7D;
  --sticks-stones: #A49689;
  --keystone-gray: #9E9284;
  --manor-house: #665D57;
  --loggia: #C4B7A5;
  --stone-lion: #B3A491;
  --tavern-taupe: #9C8A79;
  --tiki-hut: #826F5E;
  --chateau-brown: #5B4B44;
  --bungalow-beige: #CDBFB0;
  --pavilion-beige: #C5B6A4;
  --sanderling: #A79582;
  --foothills: #827466;
  --homestead-brown: #6E5F53;
  --kestrel-white: #E0D6C8;
  --china-doll: #DBCEBD;
  --beach-house: #C9B29C;
  --mexican-sand: #AF9781;
  --plantation-shutters: #6A5143;
  --dormer-brown: #AD947C;
  --meadowlark: #9F8267;
  --burnished-brandy: #7C5C43;
  --dhurrie-beige: #CABAA8;
  --tree-branch: #8A7362;
  --maison-blanche: #DFD2BF;
  --nantucket-dune: #D0BFAA;
  --windsor-greige: #C4B49C;
  --sand-beach: #D4C5AD;
  --barcelona-beige: #C4B39C;
  --canvas-tan: #DCD1BF;
  --urban-putty: #CFC0AB;
  --khaki-shade: #C0AF97;
  --outerbanks: #B7A48B;
  --sandy-ridge: #A18E77;
  --bittersweet-stem: #CBB49A;
  --irish-cream: #E3D2B8;
  --tamarind: #C0A588;
  --cork-wedge: #C1A98A;
  --artisan-tan: #B09879;
  --grecian-ivory: #D8CFBE;
  --naturel: #CBC0AD;
  --avenue-tan: #BCB099;
  --fenland: #AC9D83;
  --pier: #63523D;
  --prairie-grass: #B1A38E;
  --sandbar: #CBBFAD;
  --portico: #BBAB95;
  --studio-taupe: #AD9C85;
  --resort-tan: #907D66;
  --greek-villa: #F0ECE2;
  --bauhaus-buff: #E7DBCC;
  --fragile-beauty: #E7D7C6;
  --steamed-milk: #ECE1D1;
  --patience: #E2D3BF;
  --creme: #F4E8D2;
  --summer-white: #F4E9D6;
  --medici-ivory: #F3E9D7;
  --decor-white: #F2E5CF;
  --impressive-ivory: #F4DEC3;
  --lemon-meringue: #F5EACC;
  --roman-column: #F6F0E2;
  --restful-white: #EEE8D7;
  --polar-bear: #E8DFCA;
  --oyster-bar: #DBD0BB;
  --westhighland-white: #F3EEE3;
  --natural-tan: #DCD2C3;
  --neutral-ground: #E2DACA;
  --stucco: #DCCFBA;
  --egret-white: #DFD9CF;
  --casa-blanca: #EDE1CE;
  --lotus-pod: #E7D7C2;
  --eaglet-beige: #E9D9C0;
  --echelon-ecru: #E7D8BE;
  --chopsticks: #E0D1B8;
  --blackberry: #533640;
  --borscht: #72353D;
  --alaea: #81585B;
  --carnelian: #573E3E;
  --salute: #803532;
  --wild-currant: #7C3239;
  --red-theatre: #6E3637;
  --sun-dried-tomato: #692B2B;
  --stolen-kiss: #813235;
  --antique-red: #9F4442;
  --show-stopper: #A42E37;
  --habanero-chile: #B8473D;
  --red-barn: #7C453D;
  --crabby-apple: #753531;
  --rustic-red: #703229;
  --carriage-door: #6E423E;
  --sommelier: #5D3736;
  --only-natural: #E2D3C4;
  --sierra-redwood: #924E3C;
  --brick-paver: #93402F;
  --bolero: #903934;
  --dockside-blue: #A0B3BC;
  --indigo-batik: #3E5063;
  --poolhouse: #8095A0;
  --smoky-blue: #596E79;
  --gale-force: #35454E;
  --blue-cruise: #6591A8;
  --santorini-blue: #416D83;
  --adrift: #87AAB9;
  --georgian-revival-blue: #5B8D9F;
  --turkish-tile: #3E758A;
  --tranquil-aqua: #7C9AA0;
  --mountain-stream: #679199;
  --aquasphere: #9CB0B3;
  --st-barts: #577C88;
  --sea-serpent: #3E4B54;
  --breezy: #A0AEAF;
  --mediterranean: #60797D;
  --deep-sea-dive: #376167;
  --labradorite: #657B83;
  --seaworthy: #314D58;
  --silvermist: #B0B8B2;
  --homburg-gray: #666D69;
  --cascades: #273E3E;
  --slate-tile: #606E74;
  --mount-etna: #3D484C;
  --zurich-white: #E6E1D9;
  --white-heron: #E7E1D7;
  --windfresh-white: #DED8CF;
  --grapy: #786E70;
  --raisin: #392B2D;
  --city-loft: #DFDAD1;
  --modern-gray: #D6CEC3;
  --taupe-tone: #ADA090;
  --pediment: #D3CCC4;
  --palisade: #AA9E95;
  --origami-white: #E5E2DA;
  --oyster-white: #E2DDD0;
  --jogging-path: #C0B9A9;
  --ethereal-mood: #AEA594;
  --fawn-brindle: #A7A094;
  --colonnade-gray: #C6C0B6;
  --pavestone: #A0998F;
  --pussywillow: #B2ADA4;
  --gateway-gray: #B2AC9C;
  --thunder-gray: #57534C;
  --first-star: #DAD9D4;
  --crushed-ice: #D6D3CC;
  --big-chill: #D0CEC9;
  --silverplate: #C2C0BA;
  --ellie-gray: #AAA9A4;
  --front-porch: #CCCCC5;
  --mineral-deposit: #ABB0AC;
  --silverpointe: #D1D2CB;
  --lattice: #CECEC6;
  --stamped-concrete: #A0A09A;
  --rhinestone: #DEE0DE;
  --tinsmith: #C5C8C4;
  --gray-clouds: #B7B7B2;
  --gris: #A5A9A8;
  --earl-grey: #969A96;
  --reflection: #D3D5D3;
  --evening-shadow: #C9CCCD;
  --monorail-silver: #B8BCBB;
  --steely-gray: #90979B;
  --wall-street: #656D73;
  --fleur-de-sel: #DCDDD8;
  --zircon: #CAC9C6;
  --march-wind: #BAB9B6;
  --summit-gray: #959491;
  --gray-shingle: #949392;
  --on-the-rocks: #D0CEC8;
  --knitting-needles: #C3C1BC;
  --pewter-cast: #9B9893;
  --peppercorn: #585858;
  --sealskin: #48423C;
  --paper-lantern: #F2E0C4;
  --gold-vessel: #EABA8A;
  --cottage-cream: #EDDBBD;
  --golden-gate: #D9AD7F;
  --lanyard: #C09972;
  --tea-light: #F8E4C2;
  --bees-wax: #EABF86;
  --buff: #F1DFC1;
  --concord-buff: #EDD6B1;
  --white-raisin: #E5C28B;
  --hinoki: #F8DDB7;
  --august-moon: #E7C7A0;
  --sundew: #E1CDAE;
  --row-house-tan: #D2BB9D;
  --townhall-tan: #C3AA8C;
  --biltmore-buff: #E3C9A1;
  --cupola-yellow: #DCBC8E;
  --stonebriar: #CBA97E;
  --dromedary-camel: #CAAD87;
  --mesa-tan: #BD9C77;
  --toasted-pine-nut: #DCC6A6;
  --safari: #CCB18B;
  --straw-harvest: #DBC8A2;
  --rustic-city: #BA9A67;
  --olde-world-gold: #8F6C3E;
  --cavern-clay: #AC6B53;
  --spiced-cider: #B0785C;
  --earthen-jug: #A85E39;
  --tower-tan: #D5B59B;
  --wheat-penny: #976B53;
  --copper-wire: #C67B57;
  --copper-pot: #B16A37;
  --brandywine: #A56C4A;
  --pueblo: #E6D0BD;
  --townhouse-tan: #DFC8B5;
  --tawny-tan: #CCB299;
  --oak-barrel: #BFA287;
  --pottery-urn: #AA866E;
  --croissant: #DBC5A7;
  --ligonier-tan: #D2B18F;
  --oak-creek: #BB8D6B;
  --fresco-cream: #D8C4AE;
  --deer-valley: #C7A485;
  --crescent-cream: #EDD1B1;
  --travertine: #ECD3B3;
  --colony-buff: #DDC6AB;
  --canoe: #B7987B;
  --yearling: #AD896A;
  --lemon-verbena: #9D986F;
  --koi-pond: #B9B292;
  --green-sprout: #A29F80;
  --edamame: #827C5A;
  --forestwood: #4D5346;
  --san-antonio-sage: #A69474;
  --lemongrass: #C8BD98;
  --bamboo-shoot: #B3A479;
  --olive-grove: #857C5D;
  --palm-leaf: #635936;
  --garden-sage: #B1A584;
  --meadow-trail: #8D8168;
  --cargo-pants: #CDC4AE;
  --herbal-wash: #A49B82;
  --messenger-bag: #7D745E;
  --willow-tree: #AAAD9C;
  --agate-green: #8EA486;
  --mountain-road: #868578;
  --zeus: #99907E;
  --muddled-basil: #5A5243;
  --rushing-river: #A19C8F;
  --recycled-glass: #BDC0A0;
  --green-earth: #9A9883;
  --laurel-woods: #44493D;
  --olympic-range: #424C44;
  --high-reflective-white: #F7F7F1;
  --shell-white: #F0EBE0;
  --audreys-blush: #AE8087;
  --carleys-rose: #A87376;
  --ritas-rouge: #BA7176;
  --coral-rose: #C37F7A;
  --coral-clay: #BF796E;
  --rojo-dust: #B57466;
  --melon-meloso: #F2B88C;
  --bellini-fizz: #F5C78E;
  --subdued-sienna: #CC896C;
  --windswept-canyon: #DBA480;
  --sun-bleached-ochre: #E3AB7B;
  --polvo-de-oro: #E8B87F;
  --olden-amber: #EEB76B;
  --pollen-powder: #FBD187;
  --they-call-it-mellow: #FBE4B3;
  --la-luna-amarilla: #FDDFA0;
  --sunny-veranda: #FEDF94;
  --honey-bees: #FBD682;
  --golden-plumeria: #FBD073;
  --rayo-de-sol: #F4C454;
  --naples-yellow: #F6D58F;
  --yellow-bird: #F1CD7B;
  --dakota-wheat: #E1BD8E;
  --vintage-gold: #CBA576;
  --coriander-powder: #BA9C75;
  --tarnished-trumpet: #D5B176;
  --pale-moss: #DCC797;
  --dusted-olive: #BEA775;
  --cool-avocado: #C4B47D;
  --limon-fresco: #CEBC55;
  --primavera: #D2D083;
  --stay-in-lime: #9FAC5C;
  --oh-pistachio: #ABCA99;
  --seawashed-glass: #A9C095;
  --frosted-emerald: #78B185;
  --retro-mint: #9FCDB1;
  --baby-bok-choy: #BBB98A;
  --cucuzza-verde: #9BA373;
  --broccoflower: #8FA277;
  --reseda-green: #75946B;
  --parisian-patina: #7D9B89;
  --verdigreen: #81A595;
  --aquastone: #89C6B7;
  --little-blue-box: #8AC5BA;
  --bora-bora-shore: #92D0D0;
  --gentle-aquamarine: #97CBD2;
  --after-the-rain: #8BC4D1;
  --surfin: #73C0D2;
  --sky-fall: #89C6DF;
  --vintage-vessel: #94B2A6;
  --aquaverde: #A3C0BD;
  --blithe-blue: #90BDBD;
  --agua-fria: #9FC5CC;
  --little-boy-blu: #C7D8DB;
  --billowy-breeze: #AFC7CD;
  --french-moire: #9FBBC3;
  --aquitaine: #88ABB4;
  --secret-cove: #68909D;
  --silken-peacock: #427584;
  --connors-lakefront: #175A6C;
  --rest-assured: #9BBFC9;
  --bluebird-feather: #6F9DB3;
  --porch-ceiling: #9BC8DE;
  --bluesy-note: #7C9AB5;
  --perfect-periwinkle: #6487B0;
  --agapanthus: #BBC5DE;
  --forever-lilac: #AFA5C7;
  --berry-frappe: #B3A1C6;
  --veri-berri: #937496;
  --baby-blue-eyes: #83A2B4;
  --dyers-woad: #7B99B0;
  --dried-lavender: #8595AA;
  --dusty-heather: #8990A3;
  --gentle-grape: #908A9B;
  --berry-cream: #9A8CA2;
  --ruby-violet: #9B7E8B;
  --rosaline-pearl: #A38887;
  --cocoa-berry: #A08882;
  --velvety-chestnut: #A2877D;
  --hushed-auburn: #A8857A;
  --redend-point: #AE8E7E;
  --chocolate-powder: #A58C7B;
  --dusted-truffle: #9C8373;
  --cocoa-whip: #A08E7E;
  --touch-of-sand: #D5C7BA;
  --cool-beige: #C6B5A7;
  --smoky-beige: #B9A796;
  --utaupeia: #A58F7B;
  --llama-wool: #917864;
  --caraibe: #785F4C;
  --halfcaff: #604C3D;
  --iced-mocha: #A3846C;
  --nearly-brown: #A88E76;
  --playa-arenosa: #DCC7B3;
  --ginger-root: #D2B79E;
  --beige-intenso: #C5A88D;
  --soft-fawn: #B59778;
  --baked-cookie: #89674A;
  --saddle-up: #725237;
  --umber-rust: #765138;
  --tres-naturale: #DCC7AD;
  --quinoa: #CFB597;
  --farro: #C1A485;
  --woven-wicker: #B99974;
  --almond-roca: #A78361;
  --el-caramelo: #946E48;
  --uber-umber: #7B5838;
  --double-latte: #A78C71;
  --natural-linen: #DFD3C3;
  --malabar: #CFBEA9;
  --antler-velvet: #C0AD96;
  --song-thrush: #AF987F;
  --mudslide: #A08568;
  --fallen-leaves: #8F7659;
  --cowboy-boots: #695239;
  --serengeti-grass: #AB9579;
  --urban-jungle: #A4947E;
  --tarnished-treasure: #B9A47E;
  --dirty-martini: #DDD0B6;
  --tumblin-tumbleweed: #CDBB9C;
  --sawgrass-basket: #C3B090;
  --dried-edamame: #B19F80;
  --barro-verde: #9F8E71;
  --verde-marron: #877459;
  --oliva-oscuro: #665439;
  --honed-soapstone: #9D9887;
  --at-ease-soldier: #9E9985;
  --green-onyx: #989A82;
  --jade-dragon: #909886;
  --evergreen-fog: #95978A;
  --cornwall-slate: #949488;
  --acacia-haze: #969C92;
  --jasper-stone: #8D9E97;
  --delft: #8B9FA0;
  --whirlpool: #80969D;
  --lullaby: #CBD4D4;
  --niebla-azul: #B6C3C4;
  --stardew: #A6B2B5;
  --debonair: #90A0A6;
  --blustery-sky: #6F848C;
  --waterloo: #536872;
  --moscow-midnight: #204652;
  --cadet: #91999C;
  --moonmist: #C9D9E0;
  --sleepy-hollow: #B7C9D1;
  --faded-flaxflower: #9EB4C0;
  --favorite-jeans: #8AA3B1;
  --smoky-azurite: #708D9E;
  --inky-blue: #4E7287;
  --endless-sea: #32586E;
  --daphne: #899CAA;
  --let-it-rain: #979FA5;
  --moonlit-orchid: #949194;
  --perle-noir: #4F4D51;
  --slate-violet: #989192;
  --gris-morado: #8F8A91;
  --autumn-orchid: #9D9093;
  --coquina: #9D8D8E;
  --auger-shell: #9F9291;
  --armadillo: #9E9089;
  --dustblu: #959BA0;
  --african-gray: #939899;
  --tin-lizzie: #939591;
  --illusive-green: #92948D;
  --gossamer-veil: #D3CEC4;
  --drift-of-mist: #DCD8D0;
  --polished-concrete: #9E9793;
  --elephant-ear: #988F85;
  --chatura-gray: #A09287;
  --acier: #9E9991;
  --felted-wool: #979083;
  --studio-clay: #958D7F;
  --shiitake: #C8BCAB;
  --moth-wing: #A0907F;
  --deep-forest-brown: #393437;
  --dress-blues: #2B4360;
  --salty-dog: #234058;
  --in-the-navy: #283849;
  --anchors-aweigh: #2B3441;
  --aged-white: #E8DECD;
  --rojo-marron: #4B3029;
  --dark-clove: #4C3D31;
  --foxhall-green: #454B40;
  --marea-baja: #2E5464;
  --caramelized: #C29871;
}
